.viewer-container {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    width: 560px;
    height: 315px;
    display: block;
    border: solid 1px black;
    margin-top: 5px;
}

pdf-viewer {
    display: block;
}

.buttons {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

a {
    margin-right: 5px;
}