<div class="modal modal-form" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="pdf-container">
      <div class="viewer-container">
        <pdf-viewer
          [show-all]="false"
          [original-size]="false"
          [src]="powerpointSource" 
          [render-text]="true"
          [page]="page"
          [fit-to-page]="true"
          [zoom]="false"
          ></pdf-viewer>
        </div>
    </div>
    <div class="buttons"> 
      <a (click)="goBack()" mat-raised-button class="button mat-primary"><i class="fas fa-chevron-left"></i></a>
      <a (click)="catchUpPage()" mat-raised-button class="button mat-primary ">Go to Current</a>
      <a (click)="goForward()" mat-raised-button class="button mat-primary"><i class="fas fa-chevron-right"></i></a>
      <!--<a (click)="downloadSlides()" mat-raised-button class="button mat-primary green" href="{{powerpointSource}}" download><i class="fas fa-download"></i> Download Slides</a>-->
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">