<div class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row">
      <div class="row">
        <span class="modal-close right">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
      <div class="">
        <h4 class="grey-text text-darken-2">Create New Quiz</h4>
        <form (ngSubmit)="onAddCourseSubmit()" #f="ngForm">
          <div class="row">
            <div class="input-field col s9">
              <textarea id="questionTextArea" class="materialize-textarea" placeholder="Type question text here" [(ngModel)]="newQuestionText" name="newQuestionText"></textarea>
            </div>
            <div class="input-field col s3">
                <div class="btn" (click)="addQuestion()">Add Question</div>
            </div>
          </div>
        </form>
        
        <div *ngIf="quizQuestions.length > 0">
          <h5 class="grey-text text-darken-2">Questions</h5>
          <div *ngFor="let question of quizQuestions">
            <div class="row">
              <h6 class="col s6">{{ question.text }}</h6>
              <div class="btn col s3" (click)="addAnswer(question.id)">Add Answer</div>
              <div class="btn col s3" (click)="deleteQuestion(question.id)">Delete Question</div>
            </div>
            <div class="">
              <div *ngFor="let answer of question.answers">
                  <div class="input-field">
                      <input type="text" id="answer" class="col s10" placeholder="Type answer text here">
                  </div>
                  <div class="col s2">
                      <label>
                          <input type="checkbox" />
                          <span>Correct?</span>
                     </label>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" *ngIf="quizQuestions.length > 0">
          <div class="col s12 input-field">
              <div class="btn col s12">Send Quiz</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
