<div class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row">
      <div class="row">
        <span class="modal-close right">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
      <div class="">
        <h4 class="grey-text text-darken-2">Create New Quiz</h4>
        <form (ngSubmit)="onAddCourseSubmit()" #f="ngForm">
          <div class="row">
            <div class="input-field col s9">
              <input matInput id="questionTextArea" color="primary" placeholder="Type question text here" [(ngModel)]="newQuestionText" name="newQuestionText" />
            </div>
            <div class="input-field col s3">
              <button mat-raised-button color="primary" class="button" (click)="addQuestion()">Add Question</button>
            </div>
          </div>
        </form>
        
        <div *ngIf="quizQuestions.length > 0">
          <h5 class="grey-text text-darken-2">Questions</h5>
          <div *ngFor="let question of quizQuestions">
            <div class="row">
              <h6 class="col s6">{{ question.text }}</h6>
              <button mat-raised-button color="primary" class="button s3 add-answer" (click)="addAnswer(question.id)">Add Answer</button>
              <button mat-raised-button color="warn" class="button s3" (click)="deleteQuestion(question.id)">Delete Question</button>
            </div>
            <div class="">
              <div *ngFor="let answer of question.answers">
                  <div class="input-field">
                      <input matInput required type="text" id="answer" color="primary" class="col s10" 
                          (change)="changeAnswer(answer, $event)"
                          placeholder="Type answer text here">
                  </div>
                  <div class="col s2">
                      <label>
                          <input matRadioButton type="radio" name="{{ question.id }}" (change)="selectCorrectAnswer(question, answer)" [checked]="answer.correct" />
                          <span>Correct?</span>
                     </label>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" *ngIf="quizQuestions.length > 0">
          <div class="col s12 input-field">
              <button mat-raised-button color="primary" class="button" (click)="submitQuiz()">Send Quiz</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
