<div class="modal modal-form" materialize="modal" [materializeActions]="modalActions" [materializeParams]="modalParams">
  <div class="modal-content">
  
      <div class="row">
        <div class="row">

          <span class="modal-close right">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </div>
        <div class="row">
          <span class="modal-close left">
            <zxing-scanner #scanner start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
          </span>
        </div>
    </div>
  
  </div>
