.courseLayout {
    margin-top: 15px;
  }
  
.button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.full-width {
  width: 100%;
}

textarea {
	resize: none !important; 
}

.table-container {
	max-height:200px;
	overflow: auto; 
	
}