<br />
<a (click)="presentAddCourseDialog()" mat-raised-button color="primary" class="button">Register Course</a>
<a (click)="presentCreateCourseDialog()" mat-raised-button color="primary" class="button">Create Course</a>
<br />
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="courseLayout">
  <mat-card class="course-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title>Courses</mat-card-title>
      <mat-card-subtitle>Registered</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table class="courses highlight">
        <tr>
          <th>Course Name</th>
        </tr>
        <tr *ngFor="let course of courseData" (click)="openCourse(course)">
          <td>{{course.name}}</td>
        </tr>
        <tr *ngIf="courseData?.length == 0">
          <td>No registered courses</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="ownedCourseData?.length > 0" class="course-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title>Courses</mat-card-title>
      <mat-card-subtitle>Instructor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table class="ownedCourses highlight">
        <tr>
          <th>Course Name</th>
          <th>Course Code</th>
        </tr>
        <tr *ngFor="let course of ownedCourseData" (click)="openCourse(course)">
          <td>{{course.name}}</td>
          <td>{{course.code}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <app-add-course-dialog #addCourseDialog></app-add-course-dialog>
  <app-create-course-dialog #createCourseDialog></app-create-course-dialog>
