<div *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())">
  <a (click)="dropCourse()" mat-raised-button color="warn" class="button">Drop Course</a>

  <span *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())
            && activePowerpoint">
    <a (click)="displayPowerpoint()" mat-raised-button class="button mat-primary">View Slides</a>
  </span>
</div>

<div *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())">
  <a (click)="createQuiz()" mat-raised-button color="primary" class="button">Create New Quiz</a>
  <a (click)="openResults()" mat-raised-button color="primary" class="button">Check Quiz Results</a>
</div>

<div *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())
            && activeQuiz">
  <a (click)="closeQuiz()" mat-raised-button color="warn" class="button">Close Current Quiz</a>
</div>

<div *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())
            && activeQuiz">
  <a (click)="displayQuiz()" mat-raised-button class="take-quiz-button">Take Active Quiz</a>
</div>

<div *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())
            && !activeQuiz">
  <a (click)="displayQuiz()" mat-raised-button class="btn disabled">No Active Quiz</a>
</div>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="courseLayout">
  <mat-card class="course-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title>Course Documents</mat-card-title>
      <mat-card-subtitle>Avaliable Files</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <a *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" (click)="uploadFile()" mat-raised-button color="primary" class="btn">Upload File</a>
      <div class="table-container">
      <table class="courses highlight">
        <tr>
          <th>File Name</th>
        </tr>
        <tr *ngFor="let file of courseDocuments">
          <td>{{file.name}}</td>
          <td><mat-icon (click)="downloadFile(file)" class="downloadBtn">archive</mat-icon></td>
        </tr>
        <tr *ngIf="courseDocuments?.length == 0">
          <td>No course files</td>
        </tr>
      </table>
    </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="course-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title>Questions</mat-card-title>
      <mat-card-subtitle>Live Questions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <textarea [(ngModel)]="questionArea" matInput placeholder="Leave a question" (keyup)="autoGrowTextZone($event)"></textarea>
      </mat-form-field>
      <div class="row">
        <a (click)="postQuestion()" style="float:right;" mat-raised-button color="primary" class="button">Ask Question</a>
      </div>
      <div class="table-container">
        <table class="courseshighlight" margin="0px">
          <tr *ngFor="let question of courseQuestions">
            <td>{{question.question}}
              <span *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString()); else instructor_yeahs" class="timestamp">
                {{question.created_at | date : "hh:mm a"}}
              </span>
              <ng-template #instructor_yeahs>
                  <span class="timestamp">
                      {{question.created_at | date : "hh:mm a"}} {{"(" + question.yeah_count + " Yeahs)"}}
                    </span>
              </ng-template>
            </td>
            <td *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString()); else instructor">
              <a (click)="yeahQuestion(question)" style="float:right;"
                class="yeahButton" id="yeah_{{question.id}}">
                {{ question.yeahs.includes(this.authTokenService.currentUserData.id.toString()) ? "Unyeah! " + question.yeah_count : "Yeah! " + question.yeah_count }}
              </a>
            </td>
            <ng-template #instructor>
              <td><a (click)="answerQuestion(question)" padding="0px" style="float:right" class="yeahButton">Mark Answered</a> </td>
            </ng-template>
          </tr>
          <tr *ngIf="courseQuestions?.length == 0">
            <td>There are no questions for this course</td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  </div>

<app-create-quiz #createQuizDialog [courseID]="courseData.id"></app-create-quiz>
<app-take-quiz #takeQuiz></app-take-quiz>
<app-course-quiz #seeResults></app-course-quiz>
<app-view-powerpoint-dialog #viewPowerpoint [powerpointSource]="activePowerpoint"></app-view-powerpoint-dialog>
<app-file-upload-dialog #fileUploadDialog></app-file-upload-dialog>