<div *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())">
  <a (click)="dropCourse()" class="waves-effect waves-light btn button blue">Drop Course</a>
</div>
<div *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())
            && !activeQuiz">
  <a (click)="createQuiz()" class="waves-effect waves-light btn">Create New Quiz</a>
</div>
<div *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())
            && activeQuiz">
  <a (click)="closeQuiz()" class="waves-effect waves-light btn red">Close Current Quiz</a>
</div>
<div class="row">
  <div class="card blue-grey lighten-5 z-depth-4" style="margin-top: 5em">

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="courseLayout">
  <mat-card class="course-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title>Course Documents</mat-card-title>
      <mat-card-subtitle>Avaliable Files</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table class="courses highlight">
        <tr>
          <th>File Name</th>
        </tr>
        <tr *ngFor="let file of courseDocuments">
          <td>{{file.name}}</td>
        </tr>
        <tr *ngIf="courseDocuments?.length == 0">
          <td>No course files</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card class="course-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title>Questions</mat-card-title>
      <mat-card-subtitle>Live Questions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
	<mat-form-field class="full-width">
				<textarea [(ngModel)]="questionArea" matInput placeholder="Leave a question" (keyup)="autoGrowTextZone($event)"></textarea>
				</mat-form-field>
				<div class="row">
				<a (click)="postQuestion()" style="float:right;" class="waves-effect waves-light btn button blue">Ask Question</a>
			</div>
		<div class="table-container">
	   <table class="courses highlight">
            <tr *ngFor="let question of courseQuestions">
              <td>{{question.question}} <span class="timestamp">{{question.created_at | date : "hh:mm a"}}</span></td>
			  	<td *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())"><a (click)="yeahQuestion()" style="float:right;" class="yeahButton">Yeah! {{ question.yeah_count }}</a></td>
				<td *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())"><a (click)="yeahQuestion()" style="float:right;" class="yeahButton">Answer Question! {{ question.yeah_count }} Yeahs</a></td>
            </tr>	
            <tr *ngIf="courseQuestions?.length == 0">
              <td>There are no questions for this course</td>
            </tr>
          </table>
		  </div> 
    </mat-card-content>
  </mat-card>

<app-create-quiz #createQuizDialog [courseID]="courseData.id"></app-create-quiz>
