<div class="modal modal-form" materialize="modal" [materializeActions]="modalActions" [materializeParams]="modalParams">
  <div class="modal-content">
  
      <div class="row">
        <div class="row">

          <span class="modal-close right">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </div>

        <div *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">
          <span class="modal-close left">
            <h3 class="grey-text text-darken-2">Your Attendance History:</h3>
          </span>
        </div>

        <div *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">
            <span class="modal-close left">
              <h3 class="grey-text text-darken-2">Class Attendance History:</h3>
            </span>
          </div>
  

        <div *ngIf="grades && !courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">
            <h4 class="grey-text text-darken-2">Total attendance days: {{grades.grades.attendance.total_attendances}}</h4>
            <h4 class="grey-text text-darken-2">Total missed attendance days: {{grades.grades.attendance.total_missed}}</h4>
        </div>

        <div *ngIf="grades && courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">


            <div *ngFor="let attendance of grades">
                <h4 class="grey-text text-darken-2">Total attendance days: {{grades.grades.attendance.user}}</h4>
            </div>

          
    </div>
  
  </div>
