<div class="modal modal-form" materialize="modal" [materializeActions]="modalActions" [materializeParams]="modalParams">
  <div class="modal-content">
  
      <div class="row">
        <div class="row">

          <span class="modal-close right">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </div>

        <div *ngIf="!courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">
          <span class="modal-close left">
            <h3 class="grey-text text-darken-2">Your Attendance History:</h3>
          </span>
        </div>

        <div *ngIf="courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">
            <span class="modal-close left">
              <h3 class="grey-text text-darken-2">Class Attendance History:</h3>
            </span>
          </div>
  

        <div *ngIf="grades && !courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">
            <h4 class="grey-text text-darken-2">Total attendance days: {{grades.grades.attendance.total_attendances}}</h4>
            <h4 class="grey-text text-darken-2">Total missed attendance days: {{grades.grades.attendance.total_missed}}</h4>
            <mat-form-field>
              <mat-select [(value)]="selected">
                <mat-option *ngFor="let date of grades.grades.attendance.attendances | unique"  value="{{date.date}}">{{date.date}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div *ngFor="let attendances of grades.grades.attendance.attendances">
              <div *ngIf="selected === attendances.date">
                <b>{{attendances.date}}</b>
                <div *ngIf="attendances.present === false">Absent</div>
                <div *ngIf="attendances.present === true">Present</div>
                  <br>
                </div>
            </div>
        <div *ngIf="grades && courseData?.admins.includes(this.authTokenService.currentUserData.id.toString())" class="row">

              <mat-form-field>
                  <mat-select [(value)]="selected">
                    <mat-option *ngFor="let date of grades.grades.attendance | unique"  value="{{date.date}}">{{date.date}}</mat-option>
                  </mat-select>
                </mat-form-field>
                           
            <div *ngFor="let attendance of grades.grades.attendance; ">
                <div *ngIf="attendance.date === selected">
                  <b>{{attendance.date}}</b>
                    <div *ngFor="let user of attendance.users;">
                        <div *ngIf="user.name != this.authTokenService.currentUserData.name.toString()">
                        <div *ngIf="user.signed_in === false">{{user.name}}: Absent</div>
                        <div *ngIf="user.signed_in === true">{{user.name}}: Present</div>
                      </div>
                    </div>  
                    <br>
                </div>
            </div>
    </div>
  </div>
