<div class="modal modal-form" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
  
      <div class="row">
  
        <div class="row">
  
          <span class="modal-close right">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </div>
  
        <div class="row">
          <h3 class="grey-text text-darken-2">Upload File</h3>
          <form (ngSubmit)="uploadFile()" #f="ngForm">
            <div class="row">
  
              <div class="input-field col s12">
                <input id="name" type="text" required name='name' [(ngModel)]="fileUpload.name" class="validate">
                <label for="name">File Name</label>
              </div>
              <div class="input-field col s12">
                <label for="file">Choose File</label>
                <input type="file"
                       id="file"
                       (change)="onFileChange($event.target.files)">
              </div>

              <div class="input-field col s12"  style="display: inline-flex;">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="fileUpload.expires" name="expires" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker class="validate"></mat-datepicker>
                </div>

              <div class="col s12">
                <button type="submit" [disabled]="!(f.valid)"  mat-raised-button color="primary" class="button">
                  Upload File
                </button>
              </div>
            </div>
  
  
          </form>
        </div>
      </div>
  
    </div>
  
  </div>
  