<div class="modal" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
         <div class="row">
            <div class="">
                <h3 class="grey-text text-darken-2">Quiz</h3>
                <form (ngSubmit)="submitQuiz()" #f="ngForm" id="quiz">
                    <form *ngFor="let question of curQuizQuestions; let i = index" id="quiz{{i}}">
                    <p></p>
                        <h4 class="grey-text text-darken-2">{{question.text}}</h4>
                        <p *ngFor="let answer of question.answers; let j = index">
                                <label>
                                    <input *ngIf="j != 2" class="with-gap" name="selectedAnswer" value={{j}} type="radio" />
                                    <input *ngIf="j == 2" class="with-gap" name="selectedAnswer" value={{j}} type="radio" disabled="disabled" />
                                    <span>{{question}}</span>
                                </label>
                        </p>
                    </form>
                    <p></p>
                    <button type="submit" mat-raised-button color="primary">Submit Answer
                            <i class="material-icons">send</i>
                    </button> 
                </form>
            </div>
        </div>
    </div>
</div>
