<div class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
      <div class="row">
          <div class="">
              <h4 class="grey-text text-darken-2">Quiz</h4>
              <h3 class="grey-text text-darken-2">{{curQuizQuestion.text}}</h3>
              <form (ngSubmit)="submitQuiz()" #f="ngForm">
                  <p *ngFor="let answer of curQuizQuestion.answers">
                      <label>
                        <input class="with-gap" name="group1" type="radio" checked />
                        <span>{{answer}}</span>
                      </label>
                    </p>
                  <button type="submit" class="btn waves-effect waves-light">Submit Answer
                    <i class="material-icons right">send</i>
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>