<div class="modal modal-form" materialize="modal" [materializeActions]="modalActions">


  <div class="modal-content">

    <div class="row">

      <div class="row">

        <span class="modal-close right">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>

      <div class="row">
        <h3 class="grey-text text-darken-2">Add Course</h3>
        <form (ngSubmit)="onAddCourseSubmit()" #f="ngForm">


          <div class="row">

            <div class="input-field col s12" style="margin: 15px;">
              <input id="code" type="text" required name='code' [(ngModel)]="addCourse.code" class="validate">
              <label for="name">Course Code</label>
            </div>

            <div class="col s12">

              <button type="submit" [disabled]="!(f.valid)" mat-raised-button color="primary" class="button">
                Add Course
              </button>

            </div>

          </div>


        </form>
      </div>
    </div>

  </div>

</div>
